body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(208, 214, 213);
}

.header {
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  align-items: center;
}

.drawingPart {
  width: 500px;
  height: 500px;
  display: grid;
  border: 2px solid #7777;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(245, 219, 187);
}

#errorMessage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 80px;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  font-weight: bolder;
  margin-top: 5%;
}

.btn {
  font-size: 20px;
}
